@use 'variables' as v;
@use 'sass:color';

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  display: none;
  appearance: none;
  margin: 0;
}

input[type='number'],
input[type='text'] {
  appearance: textfield;
  border-radius: 0;
  text-align: center;
}

button {
  padding: 4px 8px;
}

.number-input {
  white-space: nowrap;
  button:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0;
  }
  button:last-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
  }
  button:disabled {
    background-color: color.scale(v.$background-color, $lightness: 20%);
    color: color.scale(v.$text-color, $lightness: -20%);
    border-color: color.scale(v.$accent-color, $lightness: -20%);
  }
}
