@use 'variables' as v;

.options {
    background-color: v.$panel-color;
    padding: 1em;
    margin-bottom: 3em;

    .options-title {
        @include v.alegreya-sans-sc-light;
        border-bottom: 2px solid v.$accent-color;
        margin-bottom: 0.3em;
        font-size: 1.4em;
    }

    .option-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        div:not(:last-of-type) {
            margin-right: 1.5em;
        }

        &:not(:last-of-type) {
            margin-bottom: 0.3em;
        }
    }
}
