@use 'variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&family=Open+Sans:wght@400;700&family=Spectral+SC&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
}

:global html,
:global body,
:global #root {
    height: 100%;
}

body {
    font-family: v.$open-sans;
    margin: 0;
    background: v.$background-color;
    color: v.$text-color;
    font-size: 16px;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    width: 100%;
    background: v.$panel-color;
    border-bottom: 0.4em solid v.$accent-color;
    padding: 1em;
    margin-bottom: 4em;
    h1 {
        font-family: v.$spectral-sc;
        font-size: 2em;
        color: v.$accent-color;
        font-weight: normal;
        margin: 0;
        margin-bottom: 0.3em;
    }
    h2 {
        font-size: 1.2em;
        font-weight: normal;
        font-style: italic;
        margin: 0;
        margin-bottom: 0.3em;
    }
}
