@use 'variables' as v;
@use 'sass:color';
.summon-block {
    max-width: v.$content-width;
    background: v.$panel-color;
    padding: 1em;
    padding-top: 0.5em;
    box-shadow: 5px 5px 5px black;
    $top-bottom-border: 0.4em solid v.$accent-color;
    border-top: $top-bottom-border;
    border-bottom: $top-bottom-border;
}

.summon-name {
    font-size: 1.8em;
    font-family: v.$spectral-sc;
    color: v.$accent-color;
}

.type-line {
    font-style: italic;
}

.feature-name {
    font-style: italic;
    font-weight: bold;
}

.ability-score-table {
    width: 100%;
    text-align: center;

    .ability-score {
        width: calc(100% / 6);
    }
}

.section-divider {
    @include v.alegreya-sans-sc-light;
    border-bottom: 2px solid v.$accent-color;
    margin: 0.3em 0;
    font-size: 1.4em;
}

.stat-list {
    color: v.$dim-text;
    text-indent: -1em;
    padding-left: 1em;
    .stat-name {
        font-weight: bold;
        color: v.$text-color;
    }
}

.feature:not(:last-of-type) {
    margin-bottom: 0.3em;
}

.attack-type,
.hit {
    font-style: italic;
}
